In [5]:
import numpy as np

a = np.arange(8)
b = a[4:6]
b[:] = 40
c = a[4] + a[6]

print(a)
print(b)
print(c)

[ 0  1  2  3 40 40  6  7]
[40 40]
46

In [7]:
import re
s = 'ABCAC'

bool(re.match('A', s)) == True

True

In [12]:
def result():
    s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'

    result = []
    # compete the pattern below
    pattern = r'([^A])AAA'
    for item in re.finditer(pattern, s):
        # identify the group number below.
        result.append(item.group(1))

    return result
print(result())

['C', 'F', 'B']

In [14]:
import pandas as pd

In [68]:
data = {'Name': ['John', 'Alice', 'Bob'],
        'Age': [25, 30, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)

df.head()

    Name  Age           City
0   John   25       New York
1  Alice   30  San Francisco
2    Bob   22    Los Angeles

In [69]:
df['John']

KeyError: 'John'

In [24]:
# Accessing the first row using iloc[0]
first_row = df.iloc[0]

print("Type of result:", type(first_row))
print("\nFirst Row:\n", first_row)

Type of result: <class 'pandas.core.series.Series'>

First Row:
 Name        John
Age           25
City    New York
Name: 0, dtype: object

In [26]:
first_row = df.index[0]

print("Type of result:", type(first_row))
print("\nFirst Row:\n", first_row)

Type of result: <class 'int'>

First Row:
 0

In [28]:
import numpy as np

In [34]:
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])

In [30]:
S

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [31]:
S['b':'e']

b    1
c    2
d    3
e    4
dtype: int64

In [33]:
S[['b', 'c', 'd']]

b    1
c    2
d    3
dtype: int64

In [35]:
S[S <= 3][S > 0]

b    1
c    2
d    3
dtype: int64

In [36]:
S[1:4]

b    1
c    2
d    3
dtype: int64

In [43]:
data = {'index': ['R1', 'R2', 'R3', 'R4'],
        'A': [5, 5, 71, 67],
        'B': [6, 82, 31, 37],
        'C': [20, 28, 92, 49]}

df = pd.DataFrame(data)
df

  index   A   B   C
0    R1   5   6  20
1    R2   5  82  28
2    R3  71  31  92
3    R4  67  37  49

In [42]:
f = lambda x: x.max() + x.min()
df_new = df.apply(f)

In [40]:
df_new

index    R4R1
A          76
B          88
C         112
dtype: object

In [70]:
result = df_new.iloc[1]
print(result)

76

In [49]:
new_df = df.unstack().unstack()

new_df = pd.DataFrame(new_df)
new_df

        0   1   2   3
index  R1  R2  R3  R4
A       5   5  71  67
B       6  82  31  37
C      20  28  92  49

In [58]:

data = {'item': ['item_1', 'item_1', 'item_1', 'item_2', 'item_2', 'item_2'],
        'store': ['A', 'B', 'C', 'A', 'B', 'C'],
        'QUANTITY_SOLD': [10.0, 20.0, 'NaN', 5.0, 10.0, 15.0]}

df = pd.DataFrame(data)

# Replace 'NaN' with actual NaN value
df['QUANTITY_SOLD'] = pd.to_numeric(df['QUANTITY_SOLD'], errors='coerce')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   item           6 non-null      object
 1   store          6 non-null      object
 2   QUANTITY_SOLD  5 non-null      float64
dtypes: float64(1), object(2)
memory usage: 276.0+ bytes

In [65]:
df

     item store  QUANTITY_SOLD
0  item_1     A           10.0
1  item_1     B           20.0
2  item_1     C            NaN
3  item_2     A            5.0
4  item_2     B           10.0
5  item_2     C           15.0

In [64]:
result = df.groupby('item').sum().iloc[0]['QUANTITY_SOLD']
print(result)

30.0